<div class="row">
  <div class="col-3">
    <div class="bg-primary p-3" *ngIf="isDiv1Visible">
      div - 1
    </div>
  </div>
  <div class="col-3">
    <div class="bg-primary p-3" *ngIf="isDiv2Visible">
      div - 2
    </div>
  </div>
  <div class="col-3">
    <div class="bg-primary p-3" *ngIf="isDiv3Visible">
      div - 3
    </div>
  </div>
  <div class="col-3">
    <div class="row">
      <div class="col-6">
        <label for="">Select Cast</label>
        <select class="form-control" [(ngModel)]="selectedCast">
          <option>OBC</option>
          <option>SC-ST</option>
          <option>General</option>
          <option>Other</option>
        </select>
      </div>
      <div class="col-6" *ngIf="selectedCast == 'Other'">
        <label for="">Other Cast</label>
        <input type="text" placeholder="Enter Other Cast">
      </div>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-3 text-center">
    <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
    <button class="btn btn-primary mx-2" (click)="showDiv1()">Show</button>
  </div>

  <div class="col-3 text-center">
    <button class="btn btn-danger" (click)="hideShowDiv2(false)">Hide</button>
    <button class="btn btn-primary mx-2" (click)="hideShowDiv2(true)">Show</button>
  </div>

  <div class="col-3 text-center">
    <input type="text" placeholder="num1" [(ngModel)]="num1" (input)="hideShowDiv3()">
    <input type="text" placeholder="num2" [(ngModel)]="num2" (input)="hideShowDiv3()">
</div>

<div class="row">
  <div class="col-3">
    <ul>
      <li *ngFor="let city of cityList">{{city}}</li>
    </ul>
  </div>
  <div class="col-3">
    <select name="" id="">
      <option>Select City</option>
      <option *ngFor="let city of cityList">{{city}}</option>
    </select>
  </div>
  <div class="col-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Name</th>
          <th>Status</th>
          <th>City</th>
        </tr>
        <tr *ngFor="let student of studentList; let sr=index">
          <td>{{sr+1}}</td>
          <td>{{student.name}}</td>
          <td>{{student.isActive ? 'Active' : 'Inactive'}}</td>
          <td>{{student.city}}</td>
        </tr>
      </thead>
    </table>
  </div>
</div>
